---
import Layout from '../layouts/Layout.astro';
import Nav from '../layouts/Nav.astro';
---

<head>
    <meta name="description" content="Some projects I've done." />
</head>

<Layout title="Projects">
    <Nav>
        <h1 class="style-montserrat">Projects</h1>
        <p>Stuffs I've worked on, upon learning certain things.</p>
    </Nav>
</Layout>

<style>
    h1 {
        font-weight: 600;
        font-size: var(--font-size-xl);
        margin: 2rem 0;
        letter-spacing: 0.8rem;
    }
    p {
        font-weight: 500;
        color: var(--color-highlight);
    }
</style>